<div class="container-fluid">
    <h2>Sube tus Documentos</h2>
    <p>*Recomendaciones: Asegúrate que la información se vea lo más nítida y cerca posible. Suben en PDF los documentos
        que tengan más de 1 hoja.</p>
    <div class="main-docs">
        <ul class="col-lg-11">
            <li *ngFor="let item of documentos">
                <div class="row document " [ngClass]="{'upload': item.archivoCargado != 'N'}">
                    <div class="col-lg-9">
                        <img src="assets/icons/ICONO_FORMULARIO{{item.archivoCargado == 'N' ? '_GRIS' : '_VERDE'}}.svg"
                            alt="" [matTooltip]="item.nombreCategoria">
                        <span>{{item.descripcion}}</span>
                    </div>
                    <input type="file" #fileInput class="d-none"
                           [accept]="'image/jpeg,image/png,application/pdf'"
                           (change)="subirArchivo($event, item)">
                    <div class="col-lg-3 group-butons">
                        <a (click)="fileInput.click()"
                           matTooltip="Subir archivo"
                           [ngClass]="{'upload': item.archivoCargado != 'N'}">
                          <i class="fas fa-file-upload fs-1 me-4"></i>
                        </a>
                        <a [ngClass]="{'upload': item.archivoCargado != 'N'}"
                           matTooltip="Eliminar archivo"
                        >
                          <i class="fas fa-trash-alt fs-1"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-12 d-flex justify-content-center">
  <button
    mat-raised-button color="accent"
    class="btn_siguiente"
  >Firmar documentos
  </button>
</div>
