@import "/src/styles/vars/exports";

h2 {
  // font-family: gotham-black;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  font-family: Josefin Sans;
  font-size: 17px;
  margin-bottom: 50px;
}

.main-docs {
  display: flex;
  align-items: center;
  justify-content: center;


  ul {
    padding: 0px;

    li {
      list-style: none;
      margin-bottom: 10px;

      .document {
        border: 2px solid #716263;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;

        img {
          width: 8%;
        }

        span {
          font-family: Josefin Sans;
          color: #716263;
          margin-left: 20px;
        }

        .group-butons {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .icon {
            -webkit-mask-size: cover;
            background-color: #716263;
            mask-size: cover;
            cursor: pointer;
            width: 20px;
            height: 23px;

            &:first-child {
              margin-right: 10px;
            }

            // &.delete {
            //   -webkit-mask-image: url(../../../assets/icons/trash-alt.svg);
            //   mask-image: url(../../../assets/icons/trash-alt.svg);
            // }
          }
        }

        &.upload {
          border-color: $blue-primary;

          span {
            color: $blue-primary;
          }

          .group-butons {
            .icon {
              background-color: $blue-primary;
            }
          }
        }
      }
    }
  }
}

.icon_up {
  color: $blue-primary;
}

.icon_trash {
  color: #8C8C8C
}

.btn_ {

  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 1.6em;
  padding-top: 12px;
  border-radius: 10px;
  padding-bottom: 1px;
  //   width: 9em;
}

.btn_siguiente {
  color: #fff;
  background-color: $blue-primary;
}

.btn_atras {
  color: $blue-primary;
  background-color: #fff;
  border: 2px solid $blue-primary;
}

.wimg {
  width: 3.5rem !important;
}

