<div class="container">
  <div class="row justify-content-center step-two mt-3" >
    <div class="col-lg-5 alerts-content">
      <img src="assets/img/error.svg" alt="cargando ultracem"  class="imagen-mensaje">
      <p class="text-center mt-3 texto-mensaje">Por favor comuníquese con nosotros a nuestra línea:</p>
      <div class="d-flex chat justify-content-center align-items-center">
        <img src="assets/icons/asesora.svg" alt="">
        <a href="#">
          +575 3782828
        </a>
      </div>
    </div>
  </div>
</div>
