<div class="container-fluid  container-ultracem pantalla_completa_responsive">
  <app-bottom-sheet></app-bottom-sheet>
  <app-boton-servicio-cliente></app-boton-servicio-cliente>
  <div class="logos">
    <!-- <img src="assets/images/fintra-logistics.svg" class="imagen_logo_fintra rounded-start"> -->
    <img src="assets/images/footer.svg" class="imagen_logo_ultracem rounded-start">
  </div>

  <div class="row step-three legal">
    <div class="col-lg-3 l-izquierdo m-auto">
      <div class="row justify-content-center align-items-center">
        <ul class="col-lg-8">
          <li  class="li-activo"><span>Datos personales complementarios</span></li>
          <li  class="li-activo"><span>Información del negocio</span></li>
          <li  class="li-activo"><span>Referencias</span></li>
          <li  class="li-completado"><span>Legales</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 h-100 color_fondo overflow-auto" *ngIf="step == 1">
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-5">
          <h2 class="text-start">
            Clientes PEP
            <i class="fas fa-question-circle icono" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"></i>
          </h2>
        </div>
      </div>
      <section>
        <form [formGroup]="formTab1">
          <div class="row justify-content-center mt-4">
            <div class="col-lg-9 texto texto">
              ¿Ha ocupado cargos públicos?
            </div>
            <div class="col-lg-2">
              <mat-label ngClass="labelBeforeSlide">No</mat-label>
              <mat-slide-toggle name="pregunta1" formControlName="pregunta1"
                (change)="openModalCargoPublico('P',formTab1.value.pregunta1)">
                Si
              </mat-slide-toggle>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-lg-9 texto texto">
              ¿Es familiar de persona expuesta política y públicamente?
            </div>
            <div class="col-lg-2">
              <mat-label ngClass="labelBeforeSlide">No</mat-label>
              <mat-slide-toggle name="pregunta2" formControlName="pregunta2"
                (change)="openModalCargoPublico('F',formTab1.value.pregunta2)">
                Si
              </mat-slide-toggle>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-lg-9 texto texto">
              ¿Tiene a su cargo la dirección de recursos en algún partido político?
            </div>
            <div class="col-lg-2">
              <mat-label ngClass="labelBeforeSlide">No</mat-label>
              <mat-slide-toggle formControlName="pregunta3">
                Si
              </mat-slide-toggle>
            </div>
          </div>
          <div class="row justify-content-center mt-4">
            <div class="col-lg-9 texto texto"
              matTooltip="se refiere según el GAFI: a) Casinos; b) agentes inmobiliarios; c) comerciantes de metales preciosos; d) comerciantes de piedras preciosas; e) abogados, notarios, otros profesionales jurídicos independientes o contadore">
              ¿Desarrolla actividades y profesiones no financieras designadas (APNFD)?
            </div>
            <div class="col-lg-2">
              <mat-label ngClass="labelBeforeSlide">No</mat-label>
              <mat-slide-toggle formControlName="pregunta4">
                Si
              </mat-slide-toggle>
            </div>
          </div>
        </form>
      </section>
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-3">
          <h2 class="text-start">Operaciones en moneda extranjera</h2>
        </div>
      </div>
      <section>
        <form [formGroup]="formTab3">
          <div class="d-flex flex-row justify-content-center mt-4">
            <div class="d-flex flex-column w-50 px-5">
              <mat-form-field appearance="fill">
                <mat-label> ¿Realiza operaciones con criptomoneda?</mat-label>
                <mat-select formControlName="pregunta1">
                  <mat-option value="" disabled>SELECCIONA</mat-option>
                  <mat-option value="S">Si</mat-option>
                  <mat-option value="N">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="formTab3.value.pregunta1=='S'">
                <mat-label> Tipo de operación </mat-label>
                <mat-select formControlName="pregunta2">
                  <mat-option value="" disabled>SELECCIONA</mat-option>
                  <mat-option value="{{item.codigoOpcion}}" *ngFor="let item of ListOperaciones">
                    {{item.descripcionOpcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="d-flex flex-column w-50 px-5">
              <mat-form-field appearance="fill">
                <mat-label> ¿Realiza operaciones con moneda extranjera?</mat-label>
                <mat-select formControlName="pregunta3">
                  <mat-option value="" disabled>SELECCIONA</mat-option>
                  <mat-option value="S">Si</mat-option>
                  <mat-option value="N">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="formTab3.value.pregunta3=='S'">
                <mat-label> Tipo de operación</mat-label>
                <mat-select formControlName="pregunta4">
                  <mat-option value="" disabled>SELECCIONA</mat-option>
                  <mat-option value="{{item.codigoOpcion}}" *ngFor="let item of ListOperaciones">
                    {{item.descripcionOpcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </section>
      <div class="row justify-content-center mb-5">
        <button mat-raised-button class="btn_siguiente" (click)="formTab4.controls.descripcion.markAllAsTouched(); siguiente()">Siguiente</button>
      </div>
    </div>
  </div>
  <!-- canvas -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-start" id="offcanvasExampleLabel"> Persona Expuesta politicamente (PEP): </h5>
      <i class="fas fa-window-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></i>
    </div>
    <div class="offcanvas-body">
      <div class="texto_canvas">
        <ol>
          <li>
            Las personas expuestas políticamente (conforme al Decreto 1674 de 2016).
          </li>
          <li>
            Los representantes legales de organizaciones internacionales.
          </li>
          <li>
            Las personas que gozan de reconocimiento público. Se entiende por persona políticamente expuesta
            <strong>(Decreto 1674/2016)</strong> los inpiduos que desempeñan o han desempeñado funciones públicas
            destacadas como jefes de Estado, políticos de alta jerarquía, funcionarios gubernamentales, judiciales o
            militares de alta jerarquía, altos ejecutivos (directores y gerentes) de empresas sociales, industriales y
            comerciales del estado y de sociedades de economía mixta, unidades administrativas especiales, y
            funcionarios
            importantes de partidos políticos. <br>
          </li>
        </ol>
        <br> <br>
        <p><strong>Administradores (Ley 222 de 1995, art.22):</strong></p>
        <p>
          Son administradores, el representante legal, el liquidador, el factor, los miembros de juntas o consejos
          directivos y quienes de acuerdo con los estatutos ejerzan o detenten esas funcione. Se considera para la
          compa&ntilde;&iacute;a, vinculados: Las personas que tengan sociedad conyugal, de hecho, o de derecho, con las
          personas p&uacute;blicamente expuestas, los familiares hasta el primer grado de consanguinidad, primero de
          afinidad y primero civil de las personas p&uacute;blicamente expuestas.
        </p>
        <br> <br>
        <p><strong>Nota interpretativa: Recomendaci&oacute;n 24GAFI:</strong></p>
        <p>
          Como parte del proceso para asegurar que exista una transparencia adecuada sobre las personas
          jur&iacute;dicas, los pa&iacute;ses deben contar con mecanismos que lo Identifiquen y describan los diferentes
          tipos, formas y caracter&iacute;sticas b&aacute;sicas de las personas jur&iacute;dicas en el pa&iacute;s o
          Identifiquen y describan los procesos para: (i) la creaci&oacute;n de esas personas jur&iacute;dicas; y (ii)
          la obtenci&oacute;n y registro de informaci&oacute;n b&aacute;sica y sobre el beneficiario final; o pongan a
          disposici&oacute;n del p&uacute;blico la anterior informaci&oacute;n; y o eval&uacute;en los riesgos de lavado
          de activos y financiamiento del terrorismo asociados a diferentes tipos de personas jur&iacute;dicas creadas
          en el pa&iacute;s.
        </p>
        <br> <br>
        <p><strong>PEP: </strong> <br></p>
        <p>
          Significa personas expuestas pol&iacute;ticamente, es decir, son los servidores p&uacute;blicos de cualquier
          sistema de nomenclatura y clasificaci&oacute;n de empleos de la administraci&oacute;n p&uacute;blica nacional
          y territorial, cuando en los cargos que ocupen, tengan en las funciones del &aacute;rea a la que pertenecen o
          en las de la ficha del empleo que ocupan, bajo su responsabilidad directa o por delegaci&oacute;n, la
          direcci&oacute;n general, de formulaci&oacute;n de pol&iacute;ticas institucionales y de adopci&oacute;n de
          planes, programas y proyectos, el manejo directo de bienes, dineros o valores del Estado. Estos pueden ser a
          trav&eacute;s de ordenaci&oacute;n de gasto, contrataci&oacute;n p&uacute;blica, gerencia de proyectos de
          inversi&oacute;n, pagos, liquidaciones, administraci&oacute;n de bienes muebles e inmuebles. Incluye
          tambi&eacute;n a las PEP Extranjeras y las PEP de Organizaciones Internacionales.
        </p>
        <br> <br>
        <p><strong>PEP de Organizaciones Internacionales: </strong></p>
        <p>
          Son aquellas personas naturales que ejercen funciones directivas en una organizaci&oacute;n internacional,
          entre otros (vr.gr. directores, subdirectores, miembros de junta directiva o cualquier persona que ejerza una
          funci&oacute;n equivalente).
        </p>
        <p>
          <br>
          <br>
          <p><strong>PEP Extranjeras: </strong></p>
          <p>
            Son aquellas personas naturales que desempe&ntilde;an funciones
            p&uacute;blicas prominentes y destacadas en otro pa&iacute;s. En especial, las siguientes personas:
          </p>
          <ol>
            <li>
              Jefes de estado, jefes de gobierno, ministros, subsecretarios o secretarios de estado;
            </li>
            <li>Congresistas o parlamentarios; </li>
            <li>
              Miembros de tribunales supremos, tribunales constitucionales u otras altas instancias judiciales cuyas
              decisiones no admitan normalmente recurso, salvo en circunstancias excepcionales;
            </li>
            <li>
              Miembros de tribunales o de las juntas directivas de bancos centrales;
            </li>
            <li>Embajadores; </li>
            <li>Encargados de negocios; </li>
            <li>Altos funcionarios de las fuerzas armadas;</li>
            <li>
              Miembros de los &oacute;rganos administrativos, de gesti&oacute;n o de supervisi&oacute;n de empresas de
              propiedad estatal
            </li>
            <li>Miembros de familias reales reinantes; </li>
            <li>
              Dirigentes destacados de partidos o movimientos pol&iacute;ticos;
            </li>
            <li>
              Representantes legales, directores, subdirectores, miembros de la alta gerencia y miembros de la Junta de
              una organizaci&oacute;n internacional (vr.gr. jefes de estado, pol&iacute;ticos, funcionarios
              gubernamentales, judiciales o militares de alta jerarqu&iacute;a y altos ejecutivos de empresas
              estatales).
            </li>
          </ol>
      </div>
    </div>
  </div>
</div>