@import "../../../styles/vars/exports";
.imagen-mensaje {
  height: 80vh;
}

.row-mensaje {
  position: absolute;
  background: #fff;
  height: 100vh;
  z-index: 999999999;
  width: 100%;
  text-align: center;
}

.texto-mensaje {
  font-size: 1.5em;
  color: #6c757d;
}

.btn_siguiente {
  color: #fff;
  background-color: $blue-primary;
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 1.6em;
  padding-top: 12px;
  border-radius: 10px;
  padding-bottom: 1px;
  width: 9em;
}
 .mt-neg{
  margin-top: -2em;
 }
