.imagen-mensaje {
  height: 70vh;
}

.row-mensaje {
  position: absolute;
  background: #fff;
  height: 100vh;
  z-index: 999999999;
  width: 100%;
  text-align: center;
}

.texto-mensaje {
  font-weight: 900;
  color: rgb(0 0 0 / 87%);
}
