@import "/src/styles/vars/exports";

.form-control:focus {
    color: #212529;
    background-color: #fff !important;
    border-color: $green-light !important;
    outline: 0;
    box-shadow:none !important;
}
