<h2 mat-dialog-title class="text-center">
  Datos de persona expuesta política y públicamente
</h2>
<div class="bg-white col-lg-12 col-sm-12  5 ">
  <div class="row">
    <div class="bg-white col l12">
      <div class="row justify-start ">
        <div class="col-sm-12 col-lg-12" *ngIf="data.tipo=='P'">
          <form [formGroup]="formModal_F">
            <div class="row mt-2">
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Relación</label>
                <input type="text" class="form-control" placeholder="" formControlName="relacion" autocomplete="off">
              </div>
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Nombre</label>
                <input type="text" class="form-control" placeholder="" formControlName="Nombre">
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Tipo documento</label>
                <input type="text" class="form-control" placeholder="" formControlName="tipoID" autocomplete="off">
              </div>
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Documento</label>
                <input type="text" class="form-control" placeholder="" formControlName="documento">
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Nacionalidad</label>
                <input type="text" class="form-control" placeholder="" formControlName="nacionalidad"
                  autocomplete="off">
              </div>
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Entidad</label>
                <input type="text" class="form-control" placeholder="" formControlName="entidad">
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Vinculado actualmente</label>
                <input type="text" class="form-control" placeholder="" formControlName="vinculadoActualmente"
                  autocomplete="off">
              </div>
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Fecha desvinculado</label>
                <input type="date" class="form-control" placeholder="" formControlName="fechaVinculado">
              </div>
            </div>
          </form>

        </div>
        <div class="col-sm-12 col-lg-12" *ngIf="data.tipo=='F'">
          <form [formGroup]="formModal_F">
            <div class="row mt-2">
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Relación</label>
                <input type="text" class="form-control" placeholder="" formControlName="relacion" autocomplete="off">
              </div>
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Entidad</label>
                <input type="text" class="form-control" placeholder="" formControlName="entidad">
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Vinculado actualmente</label>
                <input type="text" class="form-control" placeholder="" formControlName="vinculadoActualmente"
                  autocomplete="off">
              </div>
              <div class="form-group col-lg-6 ">
                <label for="fechaVinculado">Fecha desvinculado</label>
                <input type="date" class="form-control" placeholder="" formControlName="fechaVinculado">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="[]" class="bg-gray-400 text-white">Cerrar </button>
  <button mat-button [mat-dialog-close]="[]" class="color_fintra text-white">Guardar </button>
</mat-dialog-actions>
