<div class="row justify-content-center row-mensaje">
    <div class="col-lg-12 alerts-content m-auto">
      <img src="../assets/img/felicidades2.svg" alt="cargando ultracem" class="imagen-mensaje">
      <p class="text-center mt--3 texto-mensaje">Se encuentra en revisión para su aprobación final<br>
      </p>
      <div class="row justify-content-center ">
        <button mat-raised-button class="btn_siguiente inicio-sesion" routerLink="/main/listRequest">Volver al listado</button>
      </div>
    </div>
  </div>
