.color_fondo{
    background-color: #eff4f6 !important;
  }
  .btn_siguiente {
    width: max-content;
    color: #fff;
    background-color: #bbce00;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 2em;
    padding-top: 12px;
    border-radius: 38px;
    padding-bottom: 7px;
  }