@import "../../../../styles/vars/exports";

.color_fondo {
  background-color: #eff4f6 !important;
}

.btn_siguiente {
  color: #fff;
  background-color: $blue-primary;
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 1.6em;
  padding-top: 12px;
  border-radius: 10px;
  padding-bottom: 1px;
  width: 9em;
}

.texto {
  color: #949798;
  font-size: 1.2em;
  text-align: justify;
  font-weight: 500;
}

.clasetextArea{
  background: #6c757d08;
  border-top: none;
  border-bottom: 1px solid #949798;
  border-left: none;
  border-right: none;
  height: 2em;
  width: 100%;
  outline: -webkit-focus-ring-color auto 0px !important;
}

.clasetextArea:focus-visible{
  outline: -webkit-focus-ring-color auto 0px !important;
}

.scrollPersonalizado {
  overflow-y: auto;
  height: 50%;
  overflow-x: hidden;
}

.texto_canvas{
  color: #949798;
  font-size: 17.2px !important;
  text-align: justify;
  font-weight: 500;
  // word-break: break-word;
}
.icono{
  font-size: 13px;
  margin-bottom: 1.3em;
  color: $blue-primary;
}
.logos{
  position: absolute;
  z-index: 999999999; 
  color: #fff;
}

ul {
  list-style: none;
  li {
      font-family: Josefin Sans;
      border-left: 2px solid  $blue-primary;
      color:  $blue-primary;
      font-weight: 600;
      padding-bottom: 35px;
      position: relative;
      padding-left: 25px;
      font-size: 17px;
      height: 40px;
      box-sizing: content-box;
      align-items: center;
      display: flex;
      &::before {
          position: absolute;
          content: "";
          background-image: url(/assets/icons/check_complete.svg);
          background-size: 40px 40px;
          display: inline-block;
          width: 40px;
          height: 40px;
          left: -20px;
      }
      &:last-child{
          border: none;
      }
  }
}

.div-right{
  background: #fff;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .logos{
    position: relative;
    color: #fff;
  }
}




