<div class="container-fluid container-ultracem color_fondo" [ngStyle]="{'height': alto, 'width': ancho}">

  <div class="row step-three" *ngIf="step == 1">
    <div class="col-lg-4 l-izquierdo ">
      <div class="row justify-content-center align-items-center">
        <ul class="col-lg-8">
          <li (click)="step=1"><span>DATOS PERSONALES COMPLEMENTARIOS</span></li>
          <li (click)="step=2"><span>INFORMACIÓN DEL NEGOCIO</span></li>
          <li (click)="step=3"><span>REFERENCIA</span></li>
          <li (click)="step=4"><span>LEGALES</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 l-derecho align-self-center">
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-5">
          <h2 class="text-start">Clientes PEP</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          ¿Ha ocupado
          cargos
          públicos?
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10">
          ¿Es familiar de
          persona
          expuesta
          política y
          públicamente?
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center">
        <button mat-raised-button class="btn_siguiente" (click)="siguiente()">Solicitar</button>
      </div>
    </div>
  </div>
  <div class="row step-three" *ngIf="step == 2">
    <div class="col-lg-4 l-izquierdo ">
      <div class="row justify-content-center align-items-center">
        <ul class="col-lg-8">
          <li (click)="step=1"><span>DATOS PERSONALES COMPLEMENTARIOS</span></li>
          <li (click)="step=2"><span>INFORMACIÓN DEL NEGOCIO</span></li>
          <li (click)="step=3"><span>REFERENCIA</span></li>
          <li (click)="step=4"><span>LEGALES</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 l-derecho align-self-center">
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-5">
          <h2 class="text-start">Declaración FATCA</h2>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-10">
          He permanecido más de
          183 días en el último año,
          o 183 días durante los
          últimos 3 años, dentro de
          territorio de los Estados
          Unidos.
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-10">
          Soy poseedor de la tarjeta
          verde o "Green Card" de
          los Estados Unidos
          (Tarjeta de Residencia)
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-10">
          Recibo cualquier pago de
          intereses, dividendos,
          rentas, salarios,honorarios, primas,
          anualidades,
          compensaciones,
          remuneraciones,
          emolumentos y otras
          ganancias fijas u
          ocasionales ingresos
          (Ingresos FDAP**), si
          dicho pago proviene de
          fuentes dentro de los
          Estados Unidos.
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-10">
          Recibo cualquier ingreso
          bruto procedente de la
          venta u otra disposición de
          cualquier propiedad que
          puede producir intereses o
          dividendos cuya fuente se
          encuentre dentro de los
          Estados Unidos.
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-11">
          <strong>NOTA: Si cumple con al menos uno de las anteriores literales, marque Si en Obligatio Tributario
            U.S</strong>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-10">
          ¿Es extranjero residente?
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-10">
          ¿Obligado tributario U.S?
        </div>
        <div class="col-lg-1">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="row step-three" *ngIf="step == 3">
    <div class="col-lg-4 l-izquierdo ">
      <div class="row justify-content-center align-items-center">
        <ul class="col-lg-8">
          <li (click)="step=1"><span>DATOS PERSONALES COMPLEMENTARIOS</span></li>
          <li (click)="step=2"><span>INFORMACIÓN DEL NEGOCIO</span></li>
          <li (click)="step=3"><span>REFERENCIA</span></li>
          <li (click)="step=4"><span>LEGALES</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 l-derecho align-self-center">
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-5">
          <h2 class="text-start">Operaciones en moneda extranjera</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row step-three" *ngIf="step == 4">
    <div class="col-lg-4 l-izquierdo ">
      <div class="row justify-content-center align-items-center">
        <ul class="col-lg-8">
          <li (click)="step=1"><span>DATOS PERSONALES COMPLEMENTARIOS</span></li>
          <li (click)="step=2"><span>INFORMACIÓN DEL NEGOCIO</span></li>
          <li (click)="step=3"><span>REFERENCIA</span></li>
          <li (click)="step=4"><span>LEGALES</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 l-derecho align-self-center">
      <div class="row justify-content-center">
        <div class="col-lg-11 mt-5">
          <h2 class="text-start">Operaciones en moneda extranjera</h2>
        </div>
      </div>
    </div>
  </div>

</div>
