@import "/src/styles/vars/exports";



.fondo_fintra{
    background: $blue-primary !important;
}
.color_fintra{
    color: $blue-primary !important;
}

.btn_siguiente {
  
  font-family: Josefin Sans;
  font-weight: 600;
}