

<div class="row justify-content-center row-mensaje">
  <div class="logos">
    <img src="assets/images/fintra-logistics.svg" class="imagen_logos rounded-start">
    <img src="assets/images/ultracem.svg" class="imagen_logos rounded-start">
  </div>
  <div class="col-lg-12 alerts-content m-auto">
    <img src="../assets/img/rechazado.svg" alt="cargando ultracem" class="imagen-mensaje">
    <div class="row justify-content-center mt-neg">
      <strong class="text-center texto-mensaje">En este momento no podemos procesar tu solicitud de crédito. <br>
        Si deseas conocer más información, comunícate:<br>
      </strong>
      <div class="d-flex chat justify-content-center align-items-center">
        <img src="assets/icons/asesora.svg" alt="">
        <a href="#">
          +575 387 28 28
        </a>
        <button class="btn shadow btn-outline-secondary m-4" routerLink="/">
          Intentar nuevamente
        </button>
      </div>
    </div> 
  </div>
</div>

