<div class="container">
  <div class="row justify-content-center step-two mt-3 row-mensaje" >
    <div class="col-lg-5 alerts-content">
      <img src="assets/img/rechazado.svg" alt="cargando ultracem"  class="imagen-mensaje">
      <p class="text-center mt-3 texto-mensaje" >En este momento no podemos procesar tu solicitud de crédito.
        Si deseas conocer más información, comunícate:</p>
      <div class="d-flex chat justify-content-center align-items-center">
        <img src="assets/icons/asesora.svg" alt="">
        <a href="#">
          +575 3782828
        </a>
        <button class="btn shadow btn-outline-secondary m-4" routerLink="/">
           Intentar nuevamente 
        </button>

      </div>
    </div>
  </div>
</div>
