
@import "/src/styles/vars/exports";

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #EFF4F6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // margin 0;
}


.input-login {
  border-left: 2px solid $blue-primary;
  font-size: 1.5em;
  padding: 0.3em;
}

.fondo_gris {
  background: #EFF4F7;

}

.pantallaCompleta {
  min-height: 100vh;
}

.btn_login {
  color: #fff;
  background-color: $blue-primary;
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 1.6em;
  padding-top: 12px;
  border-radius: 10px;
  padding-bottom: 1px;
  width: 9em;
}

.titulo {
  color: $blue-primary;
  font-size: 221%;
  font-weight: 500;
}

.fondo_imagen {
  // background-image: url("/assets/images/fondo.svg");
  background-color: #eff4f6;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 33vw;
  // position: relative;
  height: 100vh;
  width: 50vw;
}
.fondo_imagen_hijo {
  background-image: url("/assets/images/fondo.svg");
  background-color: #59b3e3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33vw;
  width: 50vw;
  // position: relative;
  height: 100vh;
}

.img-fluid {
  height: 100vh;
}

.imagen_logos {
  height: 15vh;
}
.logos{
  position: absolute;

  z-index: 999999999;
}
@media screen and (max-width: 991px) {
  .fondo_imagen {
    display: none;
  }
  .logos{
    position: relative;
  }
}

