<div class="login g-0 ">
  <div class="row g-0 justify-content-center ">
    <div class="col-md-6 fondo_imagen">
      <img src="assets/images/personaje.svg" style="        width: 48vw; height: 100vh; " class="fondo_imagen_hijo">
    </div>
    <div class="col-md-6  m-auto">
      <div class="card-body ">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h4 class="titulo">Iniciar sesión
              <div (click)="flojo()"><i class="fas fa-chess-pawn" style="    color: #a7b9c063;position: absolute;right: 1em;" ></i></div>
            </h4>
          </div>
          <form class="col-sm-12 col-lg-8" [formGroup]="formInicial" autocomplete="off">
            <div class="form-group m-3">
              <input type="text" class="form-control input-login shadow" placeholder="Correo electrónico"
                formControlName="email" autocomplete="off">
            </div>
            <div class="form-group m-3">
              <input type="password" class="form-control input-login shadow" placeholder="Contraseña"
                formControlName="password" autocomplete="off">
            </div>

            <div class="col-lg-12 text-center">
              <button  mat-raised-button class="btn_login" 
                (click)="login()">Ingresar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
