<!-- <h1 mat-dialog-title></h1> -->
<div mat-dialog-content>
  <p> Los siguientes documentos se requieren para legalizar tu crédito, acepta en los recuadro uno a uno los términos y
    condiciones si estás de acuerdo.</p>
  <mat-list>
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{note.name}}</div>
      <div mat-line> {{note.updated | date}} </div>
    </mat-list-item>
  </mat-list>
  <p> Confirmo que he leído, comprendido y estoy de acuerdo con los términos y condiciones planteados en los documentos
    anteriormente detallados.</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>cerrar</button>
</div>
