<div class="container-ultracem fondo_gris pantallaCompleta">
  <div class="row step-one">
    <div class="col-lg-4 l-izquierdo pantallaCompleta">
      <img src="assets/img/ultracem-home.png" alt="imagen ultracem home">
    </div>
    <div class="col-lg-8 l-derecho  align-self-center ">
      <div class="row justify-content-center">
        <div class="col-11 text-center">
          <h4 class="titulo">Iniciar sesión</h4>
        </div>
        <form class="col-6" [formGroup]="formInicial" autocomplete="off">
          <div class="form-group m-3">
            <input type="text" class="form-control input-login shadow" id="username" placeholder="Correo electrónico"
              formControlName="email" autocomplete="off">
          </div>
          <div class="form-group m-3">
            <input type="password" class="form-control input-login shadow" id="password" placeholder="Contraseña"
              formControlName="password" autocomplete="off">
          </div>
          <div class="row justify-content-center pt-3">
            <div class="col-lg-11 text-center">
              <button [disabled]="formInicial.invalid" mat-raised-button class="btn_login" (click)="login()">Continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
