@import "../../../styles/vars/exports";

.btn_siguiente {
  color: #fff;
  background-color: $blue-primary;
  font-family: Josefin Sans;
  font-weight: 600;
  font-size: 1.6em;
  padding-top: 12px;
  border-radius: 10px;
  padding-bottom: 1px;
  width: 9em;
}

.cargandoUltracem {
  position: absolute;
  z-index: 999999999999999;
  top: 1em;
  left: 1em;
  height: 80vh;
  background: #fff;
  margin: 0;
  padding: 0em;
  width: 97%;
}

// adds breaks to the mat-checkboxes with long labels
::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.imagen-mensaje {
  height: 70vh;
}

.row-mensaje {
  position: absolute;
  background: #fff;
  height: 100vh;
  z-index: 999999999;
  width: 100%;
  text-align: center;
}

.texto-mensaje {
  font-weight: 900;
  color: rgb(0 0 0 / 87%);
}

a {
  font-weight: 900;
  color: $blue-primary;
  text-decoration: none;
}

.fondo_imagen {
  // background-image: url("/assets/images/fondo.svg");
  background-color: #eff4f6;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 33vw;
  // position: relative;
  height: 100vh;
  width: 33vw;
}
.fondo_imagen_hijo {
  background-image: url("/assets/images/fondo.svg");
  background-color: #59b3e3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33vw;
  width: 33vw;
  // position: relative;
  height: 100vh;
}

.img-fluid {
  height: 90vh;
  margin-top: 10vh;
}

.imagen_logos{
  height: 15vh;
}

.color_fondo {
  background-color: #eff4f6 !important;
}
.pantalla_completa{
  height: 100vh;
}

@media screen and (max-width: 991px) {
  .fondo_imagen {
    display: none;
  }
}
