<h2 mat-dialog-title>Acepto términos  y condiciones</h2>
<mat-dialog-content class="mx-h">
  <div class="row">
    <div class="col-md-12 col-md-12 col-lg-12 p-5">
      <p class="text-center bg-secondary text-white">
        <strong> DECLARACIONES PREVIAS PARA EL OTORGAMIENTO DE CRÉDITO</strong>
      </p>
      <p class="justifi-content">
        Nos permitimos informar que este establecimiento de comercio otorga crédito con el respaldo de pagarés y que a
        su vez, dichos pagares son negociados con las entidades encargadas de ofrecer los servicios de descuento de
        títulos valores. Lo anterior de acuerdo con los contratos suscritos con estos y bajo las siguientes anotaciones:
        1. La tasa de interés remuneratoria o corriente se liquidará al momento de otorgar el crédito y las cuotas serán
        canceladas en forma vencida. La tasa de interés no podrá superar la máxima legal vigente establecida por la ley.
        2. La tasa de interés de mora corresponderá a la máxima legal autorizada por la ley, vigente en el momento de la
        liquidación. 3. Las comisiones y recargos aplicables a la operación se relacionarán al seguro de vida deudores,
        los gastos y costos por gestión de cobranza, gastos administrativos, la prima por el (los) seguro(s) que
        ampare(n) el bien o los bienes que sirvan de garantía de la obligación, la comisión por recaudo (si hubiere
        lugar) y el estudio de crédito. 4. Este establecimiento de comercio tiene derecho a declarar de plazo vencido y
        ejercer acciones de recaudo en virtud de la aceleración del plazo si se presenta cualquier incumplimiento del
        deudor. Así mismo, podrá reportar el incumplimiento del deudor ante las centrales de riesgo que funcionan en el
        país y las que llegaren a constituirse. Lo anterior, además de los derechos que en calidad de acreedores le
        otorga la legislación comercial. 5. El deudor tiene derecho a solicitar a este establecimiento de comercio,
        información sobre la calificación de riesgo que esta le asigne. En los términos anteriores consta que ha sido
        informado y documentado y que conoce y entiendo plenamente los términos y condiciones, bajo las cuales se
        celebra con este establecimiento de comercio el contrato de crédito correspondiente, en el evento de aprobarse
        esta solicitud, con las cuales está de acuerdo y los acepta irrevocablemente. En ese sentido, deja constancia
        que conoce las tasas de interés corriente y de mora, las comisiones y recargos, el plazo, las condiciones de
        prepago, los derechos del establecimiento de comercio en el momento de incurrir en incumplimiento, los derechos
        que se me asisten en calidad de deudor y en general, las demás condiciones que regirán la operación. 6. Este
        establecimiento de comercio podrá negociar la cartera con aquellas entidades que se dediquen a las actividades
        de compra y venta de títulos valores o de cartera, estas adquieren todos los derechos de este crédito y todos
        aquellos relacionados con la cobranza y/o recuperación de la cartera. 7. El solicitante manifiesta que conoce y
        acepta que a partir del incumplimiento de plazo pactado en una o varias de las obligaciones a su cargo, esta(s)
        será(n) enviada(s) para su cobro a una casa de cobranza externa por el solo hecho de entrar en mora. 8. De igual
        manera, el solicitante manifiesta voluntaria y expresamente que el producto o Servicio adquirido, corresponde al
        que en su calidad de cliente, ha elegido directamente y que ha sido debidamente informado(a) y acepta que la
        financiera, no asume responsabilidad alguna por la apropiada prestación del servicio o la calidad del producto
        vendido por el establecimiento de comercio, sobre el cual se realiza la financiación, así como tampoco por la
        continuidad de los servicios o garantías otorgadas las cuales deben solicitarse y hacerse valer directamente
        ante el establecimiento de comercio, proveedor y/o prestador del servicio. Por lo anterior, exonera a la
        financiera de toda responsabilidad por cualquier irregularidad, falla, pérdida, retrasos, no entrega del
        producto y/o sus accesorios, mala prestación del servicio, suspensión y cualquier otra circunstancia que pudiese
        llegar a presentarse en relación con el producto o servicio financiado y que pudiera llegar a afectar los
        intereses del propietario mismo, y que se llegaren a presentar en la prestación de los servicios o la venta del
        producto por parte del establecimiento de comercio, respecto de la cual se solicita la financiación. De igual
        forma, el solicitante entiende que la financiera no asume ninguna responsabilidad en el evento en que el
        solicitante financiado, por cualquier circunstancia no utilice los servicios o el producto que se haya
        financiado, y que por lo mismo no se suspenderán los cobros de la respectiva operación de crédito, ni se harán
        devoluciones por parte de la financiera de las sumas que se hubieran pagado por concepto de las cuotas vencidas
        del crédito otorgado. De igual forma, manifiesta que conoce y acepta que una vez aprobado el crédito solicitado,
        el establecimiento de comercio no está obligado a aceptar el desistimiento por parte del cliente en la
        realización de la operación. No obstante, en el evento en que el establecimiento de comercio acepte el referido
        desistimiento, el solicitante acepta que como cliente queda obligado a pagar todos los costos y gastos generados
        desde el momento de la aprobación de la operación de crédito, por concepto de comisión por recaudo, seguro de
        vida, estudio de crédito, servicios de mensajería, y demás que se causen en relación con la operación de crédito
        aprobado, incluso en el evento en que no se alcance a desembolsar el monto de la operación. Lo anterior, por
        cuanto acepta que los referidos costos y gastos se generan desde el inicio de la aprobación a favor de terceros,
        de manera que deben ser objeto de pago. 9. El solicitante acepta todo lo hasta aquí señalado y manifiesta que
        conoce que la relación producida del servicio ofrecido y financiado, se establece directamente entre él y el
        establecimiento de comercio que ofrece el servicio, de manera que cualquier solicitud en relación con los
        servicios prestados por el establecimiento de comercio, así como cualquier solicitud de devolución de dineros,
        deberá ser tramitada directamente por él ante el respectivo establecimiento de comercio que presta el servicio
        y/o producto financiado. 10. El solicitante manifiesta que, como cliente cuya obligación de crédito es
        financiada, ha sido oportunamente informado por parte del establecimiento de comercio, y que acepta, que en el
        evento de caer en mora en el pago de sus obligaciones para con el establecimiento de comercio, la financiera, se
        dará aviso inmediato de tal circunstancia a las personas naturales y/o jurídicas encargadas de efectuar el cobro
        de la cartera de las respectivas entidad, con el propósito de que inicien gestiones de cobro y recuperación
        concernientes, a través, entre otros, de los siguientes mecanismos: llamados telefónicos, comunicaciones
        escritas (mensajes de textos, correos electrónicos, mensajerías instantáneas, redes sociales y cartas, etc.) y
        visitas. En ese sentido y por virtud de la gestión de cobro pre jurídico, que se deba adelantar, se cobrarán
        intereses moratorios a la tasa máxima permitida por la ley y gastos de cobranza, hasta del 20% del saldo en mora
        y será a cargo del cliente y a favor de las personas naturales y/o jurídicas que realicen las gestiones
        respectivas. Los anteriores valores se incrementarán de acuerdo con el IVA aplicable. A partir del día 11 de
        mora, la respectiva obligación de crédito se enviará para cobro jurídico, siendo así mismo de cargo del cliente
        los honorarios que se causen a favor del abogado encargado de la recuperación de la cartera, cuyo monto se
        regirá por las políticas que al efecto tenga establecidas para ese momento el jurídico. En todo caso, el
        establecimiento de comercio o el acreedor de la obligación, se reservan el derecho de enviar anticipadamente la
        obligación para su cobro jurídico, cuando en su criterio existan circunstancias que lo ameriten. El cliente
        deberá pagar desde en ese mismo momento los honorarios que creen dicha gestión. De igual forma, el
        establecimiento de comercio y la entidad financiera, se reservan el derecho de continuar realizando gestión de
        cobro pre-jurídico de la cartera que alcance los 30 días de mora, en cuyo caso los honorarios que se creen a
        cargo del cliente y a favor de las personas naturales y/o jurídicas encargadas de la gestión del cobro,
        corresponderán al 20% del valor total en mora, incrementando en el IVA correspondiente. 11. El solicitante
        manifiesta voluntariamente que la única relación que se establece entre él y la financiera que otorga los
        créditos, es la derivada del otorgamiento del crédito y/o pago de la cartera. Así mismo, manifiesta que ha sido
        debidamente informado que la financiera no asume responsabilidad alguna en el evento en que el cliente
        financiado, por cualquier causa, decida con posterioridad al desembolso del crédito solicitado para la
        financiación de la adquisición del producto o servicio, no aceptar y/o recibir el producto o servicio
        financiado, de manera que, de llegarse a presentar dicha circunstancia, es inequívocamente entendido que el
        cliente financiado continúa plenamente obligado ante la financiera en virtud del crédito otorgado y, por lo
        mismo, deberá pagar la totalidad del crédito.
      </p>
     </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-around">
  <button mat-raised-button [matDialogClose]="[]" class="bg-secondary text-white text-uppercase">Acepto</button>
</mat-dialog-actions>