<div class="horizontal-timeline">
  <div class="horizontal-step"
    [ngClass]="{'current': oneStepNumber == currentStep, 'visited': oneStepNumber <  currentStep, 'future': oneStepNumber > currentStep }">
    <div class="circle-step">
      <span>
        <i class="fas fa-clipboard-list"></i>
      </span>
    </div>
    <h6
      [ngClass]="{'current': oneStepNumber == currentStep, 'visited': oneStepNumber <  currentStep, 'future': oneStepNumber > currentStep }">
      Llena el formulario</h6>
  </div>
  <div class="line-step"></div>
  <div class="horizontal-step"
    [ngClass]="{'current': twoStepNumber == currentStep, 'visited': twoStepNumber <  currentStep, 'future': twoStepNumber > currentStep }">

    <div class="circle-step">
      <span>
        <i class="fas fa-paste"></i>
      </span>
    </div>
    <h6
      [ngClass]="{'current': twoStepNumber == currentStep, 'visited': twoStepNumber <  currentStep, 'future': twoStepNumber > currentStep }">
      Adjunta tus documentos</h6>
  </div>
  <div class="line-step"></div>
  <div class="horizontal-step"
    [ngClass]="{'current': twofiveStepNumber == currentStep, 'visited': twofiveStepNumber <  currentStep, 'future': twofiveStepNumber > currentStep }">
    <div class="circle-step pe">
      <span>
        <i class="fa-solid fa fa-file-signature " ></i> 
      </span>
    </div>
    <h6
      [ngClass]="{'current': twofiveStepNumber == currentStep, 'visited': twofiveStepNumber <  currentStep, 'future': twofiveStepNumber > currentStep }">
      Firma tus documentos</h6>
  </div>
  <div class="line-step"></div>
  <div class="horizontal-step"
    [ngClass]="{'current': thirdStepNumber == currentStep, 'visited': thirdStepNumber <  currentStep, 'future': thirdStepNumber > currentStep }">
    <div class="circle-step">
      <span>
        <i class="fas fa-hourglass-half"></i>
      </span>
    </div>
    <h6
      [ngClass]="{'current': thirdStepNumber == currentStep, 'visited': thirdStepNumber <  currentStep, 'future': thirdStepNumber > currentStep }">
      Esperando validaciones</h6>

  </div>

</div>


