<div class="horizontal-timeline">
  <div class="horizontal-step"
    [ngClass]="{'current': oneStepNumber == currentStep, 'visited': oneStepNumber <  currentStep, 'future': oneStepNumber > currentStep }">

    <div class="circle-step">
      <span>
        <i class="fas fa-clipboard-list"></i>
      </span>
    </div>
    <h6 [ngClass]="{'current': oneStepNumber == currentStep, 'visited': oneStepNumber <  currentStep, 'future': oneStepNumber > currentStep }">
      Llena el formulario</h6>
  </div>
  <div class="line-step"></div>
  <div class="horizontal-step"
    [ngClass]="{'current': twoStepNumber == currentStep, 'visited': twoStepNumber <  currentStep, 'future': twoStepNumber > currentStep }">

    <div class="circle-step">
      <span>
        <i class="fas fa-hourglass-half"></i>
      </span>
    </div>
    <h6 [ngClass]="{'current': twoStepNumber == currentStep, 'visited': twoStepNumber <  currentStep, 'future': twoStepNumber > currentStep }">
      Esperando validaciones</h6>
  </div>
</div>
