<div class="row ">
  <div class="col-md-12  px-5 py-5">
    <h5>
      Solicitudes
    </h5>
    <div class="row item-request " *ngFor="let item of list">
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <div class="row">

          <div class="col-lg-12 col-sm-12">
            <span>Número de solicitud</span>
            <h2>
              {{item.numeroSolicitud}}
            </h2>
          </div>


          <div class="col-lg-12 col-sm-12">
            <span>Nombre del solicitante</span>
            <h2>
              {{item.nombreCompleto}}
            </h2>
          </div>

          <div class="col-lg-6 col-sm-6">
            <span>Valor total del crédito</span>
            <h2>
              {{item.cupoTotal  | currency:'$':'symbol':'0.0-0'}}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6">
        <div class="row align-items-center">
          <div class="col-lg-12 col-sm-12">
            <app-timerline [currentStep]="3"></app-timerline>
            <!-- <app-timerline [currentStep]="item."></app-timerline> -->
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-3 ">
            <button class="btn-solicitar btn" (click)='gestion(item.numeroSolicitud)'>Solicitar</button>
          </div>

        </div>
      </div>

    </div>
    <div style="display: flex; justify-content: center;">
      <button class="btn-solicitar btn">Cargar más</button>
    </div>
  </div>
</div>
