@import "/src/styles/vars/exports";
.form-control:focus {
    color: #212529;
    background-color: #fff !important;
    border-color: $green-light !important;
    outline: 0;
    box-shadow:none !important;
}

.texto{
    padding: 2em;
}
.btn_siguiente {
    color: #fff;
    background-color:$blue-primary;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 1.6em;
    padding-top: 3px;
    border-radius: 10px;
    margin-top: 1em;
  } 