<!-- <h1 mat-dialog-title></h1> -->
<div mat-dialog-content>
  <p> Los siguientes documentos se requieren para legalizar tu crédito, acepta en los recuadro uno a uno los términos y
    condiciones si estás de acuerdo.</p>
  <mat-list>
    <!-- <div mat-subheader>Folders</div> -->
    <mat-list-item>
      <div mat-list-icon class="icono-listado"><i class="fas fa-folder-open"></i></div>
      <div mat-line>Solicitud de crédito</div>
      <div mat-line class="text-Descarga" (click)="descargar(1)">Descargar</div>
      <input type="file" #fileInput class="d-none" [accept]="'image/jpeg,image/png,application/pdf'"
             (change)="subirSolicitud($event)">
      <button mat-raised-button
              *ngIf="!adjuntoSolicitud"
              (click)="fileInput.click()"
              matTooltip="Firma y subir archivo"
              class="btn_siguiente fondo_fintra bg-finalizar">Firma y sube el documento</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div mat-list-icon class="icono-listado"><i class="fas fa-folder-open"></i></div>
      <div mat-line>Autorización de consulta</div>
      <div mat-line class="text-Descarga" (click)="descargar(2)">Descargar</div>
      <input type="file" #fileInputAut class="d-none" [accept]="'image/jpeg,image/png,application/pdf'"
             (change)="subirAutorizacion($event)">
      <button mat-raised-button
              *ngIf="!adjuntoAutorizacion"
              (click)="fileInputAut.click()"
              matTooltip="Firma y subir archivo"
              class="btn_siguiente fondo_fintra bg-finalizar">Firma y sube el documento</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div mat-list-icon class="icono-listado"><i class="fas fa-folder-open"></i></div>
      <div mat-line>Pagaré y carta de instrucciones </div>
      <div mat-line class="text-Descarga" (click)="descargar(3)">Descargar</div>
      <input type="file" #fileInputPag class="d-none" [accept]="'image/jpeg,image/png,application/pdf'"
             (change)="subirPagare($event)">
      <button mat-raised-button
              *ngIf="!adjuntoPagare"
              (click)="fileInputPag.click()"
              matTooltip="Firma y subir archivo"
              class="btn_siguiente fondo_fintra bg-finalizar">Firma y sube el documento</button>
    </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
  </mat-list>

  <p class="mt-4"> Confirmo que he leído, comprendido y estoy de acuerdo con los términos y condiciones planteados en
    los documentos
    anteriormente detallados.</p>
</div>
<div mat-dialog-actions>
  <div class="text-center w-100">
    <button mat-raised-button class="btn_siguiente  color-fintra bg-cancelar" [mat-dialog-close]="[]">Cancelar</button>
    <button mat-raised-button
            class="btn_siguiente fondo_fintra bg-finalizar"
            (click)="onFirmar()"
            [mat-dialog-close]="[]"
            [disabled]="cantidadDocumentos.length < 3"
    >
      Finalizar
    </button>
  </div>

</div>
