@import "/src/styles/vars/exports";
.icono-listado{
   color: #6c757d
}

.text-Descarga{
    text-decoration: underline;
    font-weight: 900;
    color: #6c757d;
    cursor: pointer;
}

.color_fintra{
    color: $blue-primary !important;
}

.btn_siguiente {
  
  font-family: Josefin Sans;
  font-weight: 600;
  color: #fff;
}

.bg-cancelar{
    background: #6c757d;
  
}

.bg-finalizar{
    background: $blue-primary !important;
}