<div class="container-fluid container-ultracem" [ngStyle]="{'height': alto, 'width': ancho}">
    <div class="row step-three" *ngIf="step == 1 && !cargando">
      <div class="col-lg-4 l-izquierdo ">
        <div class="row justify-content-center align-items-center">
          <ul class="col-lg-8">
            <li (click)="step=1"><span>DATOS E INFORMACIÓN FINANCIERA DEL NEGOCIO</span></li>
            <li (click)="step=2"><span>DATOS DEL REPRESENTANTE LEGAL COMPLEMENTARIOS</span></li>
            <li (click)="step=3"><span>REFERENCIAS</span></li>
            <li (click)="step=4"><span>LEGALES</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 l-derecho">
        <!-- <div class="row">
          <img src="assets/img/circle_left_icon.svg" alt="cargando ultracem" (click)="atras();" class="btn_atras">
        </div> -->
        <div class="row justify-content-center">
          <div class="col-lg-11 mt-5">
            <h2 class="text-start">Datos e información financiera del negocio</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <form class="col-11" [formGroup]="formTab1">
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Departamento del negocio</mat-label>
                <!-- <input matInput autocomplete="off" formControlName="departamentoNacionalidad"> -->
                <mat-select formControlName="departamentoNegocio" (selectionChange)="seleccionCiudad($event, 'NA')">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="{{item.codigo}}" *ngFor="let item of Listdepartamentos ">{{item.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Ciudad / municipio del negocio</mat-label>
                <!-- <input matInput autocomplete="off" formControlName="ciudadNacionalidad"> -->
                <mat-select formControlName="ciudadNegocio" (selectionChange)="seleccionBarrios($event, 'NA')">
                  <mat-option value="">Selecciona</mat-option>
                  <mat-option [value]="item.codigo"
                              *ngFor="let item of ciudades"
                  >
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Barrio</mat-label>
                <!-- <input matInput autocomplete="off" formControlName="ciudadNacionalidad"> -->
                <mat-select formControlName="barrioNegocio">
                  <mat-option value="">Selecciona</mat-option>
                  <mat-option [value]="item.codigo"
                              *ngFor="let item of barrios"
                  >
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Dirección de negocio</mat-label>
                <input matInput autocomplete="off" formControlName="direccionNegocio" (keydown)="openModalDirection()">
              </mat-form-field>
            </div>
            <div class="row">


            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Teléfono del negocio</mat-label>
                <input matInput autocomplete="off" formControlName="telefonoNegocio">
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Activos ($)</mat-label>
                <input matInput autocomplete="off" formControlName="activos" >
                <!-- <mat-select formControlName="tipoVivienda">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="A">Arrendada</mat-option>
                  <mat-option value="P">Propia</mat-option>
                  <mat-option value="F">Familiar</mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Ventas mensuales ($)</mat-label>
                <input matInput autocomplete="off" formControlName="ventasMensuales">
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>¿Eres declarante?</mat-label>
                <!-- <input matInput autocomplete="off" formControlName="nivelEstudio"> -->
                <mat-select formControlName="declarante">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="S">Si</mat-option>
                  <mat-option value="N">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-12" appearance="fill">
                <mat-label>¿El representante legal reside en el mismo lugar del negocio?</mat-label>
                <!-- <input matInput autocomplete="off" formControlName="nivelEstudio"> -->
                <mat-select formControlName="viveNegocio">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="S">Si</mat-option>
                  <mat-option value="N">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row justify-content-center">
              <button mat-raised-button class="btn_siguiente"
                      [disabled]="!formTab1.valid"
                      (click)="onGuardarUno(1)"
              >
                Siguiente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row step-three" *ngIf="step == 2 && !cargando">
      <div class="col-lg-4 l-izquierdo">
        <div class="row justify-content-center align-items-center">
          <ul class="col-lg-8">
           <li (click)="step=1"><span>DATOS E INFORMACIÓN FINANCIERA DEL NEGOCIO</span></li>
            <li (click)="step=2"><span>DATOS DEL REPRESENTANTE LEGAL COMPLEMENTARIOS</span></li>
            <li (click)="step=3"><span>REFERENCIAS</span></li>
            <li (click)="step=4"><span>LEGALES</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 l-derecho">
        <!-- <div class="row">
          <img src="assets/img/circle_left_icon.svg" alt="cargando ultracem" (click)="atras();" class="btn_atras">
        </div> -->
        <div class="row justify-content-center">
          <div class="col-lg-11 mt-5">
            <h2 class="text-start">Datos complementarios - representante legal</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <form class="col-11" [formGroup]="formTab2">
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Departamento de residencia</mat-label>
                <mat-select formControlName="departamentoResidencia" (selectionChange)="seleccionCiudad($event, 'REP')">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="{{item.codigo}}" *ngFor="let item of departamentoRepresentante ">{{item.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Ciudad / municipio de residencia</mat-label>
                <mat-select formControlName="ciudadResidencia" (selectionChange)="seleccionBarrios($event, 'REP')">
                  <mat-option value="">Selecciona</mat-option>
                  <mat-option [value]="item.codigo"
                              *ngFor="let item of ciudadRepresentante"
                  >
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Barrio</mat-label>
                <mat-select formControlName="barrioResidencia" >
                  <mat-option value="">Selecciona</mat-option>
                  <mat-option [value]="item.codigo"
                              *ngFor="let item of barrioRepresentante"
                  >
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Direccion de residencia </mat-label>
                <input matInput formControlName="direccionResidencia" type="text" (keydown)="openModalDirectionRepresentante()">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [matDatepicker]="picker2"  formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Tipo de vivienda </mat-label>
                <mat-select formControlName="tipoVivienda">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option [value]="item.codigoOpcion"
                              *ngFor="let item of tipoVivienda"
                  >
                    {{ item.descripcionOpcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Nivel de estudio</mat-label>
                <mat-select formControlName="nivelEstudio">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option [value]="item.codigoOpcion"
                              *ngFor="let item of ListNivelEstudio"
                  >
                    {{ item.descripcionOpcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row justify-content-center">
              <button mat-raised-button class="btn_siguiente"
                      [disabled]="formTab2.invalid"
                      (click)="onGuardarDos(1)"
              >
                Siguiente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row step-three" *ngIf="step == 3 && !cargando">
      <div class="col-lg-4 l-izquierdo">
        <div class="row justify-content-center align-items-center">
          <ul class="col-lg-8">
           <li (click)="step=1"><span>DATOS E INFORMACIÓN FINANCIERA DEL NEGOCIO</span></li>
            <li (click)="step=2"><span>DATOS DEL REPRESENTANTE LEGAL COMPLEMENTARIOS</span></li>
            <li (click)="step=3"><span>REFERENCIAS</span></li>
            <li (click)="step=4"><span>LEGALES</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 l-derecho">
        <!-- <div class="row">
          <img src="assets/img/circle_left_icon.svg" alt="cargando ultracem" (click)="atras();" class="btn_atras">
        </div> -->
        <div class="row justify-content-center">
          <div class="col-lg-11 mt-3">
            <h2 class="text-start">Referencia comercial</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <form class="col-11" [formGroup]="formTab3">
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Razon social</mat-label>
                <input matInput formControlName="nombreCompleto">
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Teléfono /celular</mat-label>
                <input matInput formControlName="telefono">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Departamento </mat-label>
                <mat-select formControlName="codigoDepartamento" (selectionChange)="seleccionCiudad($event, 'REF-UNO')">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="{{item.codigo}}" *ngFor="let item of departamentoReferenciaUno ">{{item.nombre}}</mat-option>
                </mat-select>
                <input matInput formControlName="codigoDepartamento" type="text">
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Ciudad /municipio</mat-label>
                <mat-select formControlName="codigoCiudad" >
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="{{item.codigo}}" *ngFor="let item of ciudadReferenciaUno ">{{item.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Antiguedad de ser cliente (meses) </mat-label>
                <input matInput formControlName="antiguedad" type="text">
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-11 ">
            <h2 class="text-start">Referencia comercial</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <form class="col-11" [formGroup]="formTab4">
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Razon social</mat-label>
                <input matInput formControlName="nombreCompleto">
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Teléfono /celular</mat-label>
                <input matInput formControlName="telefono">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Departamento </mat-label>
                <mat-select formControlName="codigoDepartamento" (selectionChange)="seleccionCiudad($event, 'REF-DOS')">
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="{{item.codigo}}" *ngFor="let item of departamentoReferenciaDos ">{{item.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Ciudad /municipio</mat-label>
                <mat-select formControlName="codigoCiudad" >
                  <mat-option value="" disabled>Selecciona</mat-option>
                  <mat-option value="{{item.codigo}}" *ngFor="let item of ciudadReferenciaDos ">{{item.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg-6" appearance="fill">
                <mat-label>Antiguedad de ser cliente (meses) </mat-label>
                <input matInput formControlName="antiguedad" type="text">
              </mat-form-field>
            </div>
            <div class="row justify-content-center">
              <button mat-raised-button class="btn_siguiente" [disabled]="formTab3.invalid && formTab4.invalid"
                      (click)="onGuardarTres(1)"
              >
                Siguiente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row step-three" *ngIf="step == 4 && !cargando">
      <div class="col-lg-4 l-izquierdo">
        <div class="row justify-content-center align-items-center">
          <ul class="col-lg-8">
           <li (click)="step=1"><span>DATOS E INFORMACIÓN FINANCIERA DEL NEGOCIO</span></li>
            <li (click)="step=2"><span>DATOS DEL REPRESENTANTE LEGAL COMPLEMENTARIOS</span></li>
            <li (click)="step=3"><span>REFERENCIAS</span></li>
            <li (click)="step=4"><span>LEGALES</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 l-derecho">
        <!-- <div class="row">
          <img src="assets/img/circle_left_icon.svg" alt="cargando ultracem" (click)="atras();" class="btn_atras">
        </div> -->
        <div class="row justify-content-center">
          <div class="col-lg-11 mt-5">
            <h2 class="text-start">Legal</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <form class="col-11" [formGroup]="formTab4">

            <div class="row">

              <section class="col-lg-12 checkp">
                <p>
                  <mat-checkbox formControlName="aceptaConsultaCentrales">Autorizo que la información entregada sea
                    consultada en centrales de riesgos. </mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="aceptaTerminos"> Acepto los términos y condiciones.</mat-checkbox>
                </p>
              </section>
            </div>
            <div class="row justify-content-center">
              <button mat-raised-button class="btn_siguiente" [disabled]="formTab4.invalid" (click)="siguienteTab()">Siguiente</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
